.Wedding {
  border-top: 10px solid white;
  background: #282c34;
  width: 100%;
  height: 100vh;
  color: #282c34;
  display: flex;
  justify-content: center;
  flex-direction: row;

  background: #282c34;
}
.Wedding a {
  color: #282c34;
  text-decoration: none;
}

.Wedding a:hover {
  text-decoration: underline;
}

.Wedding__title {
  height: 200px;
}

.Wedding__times {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
}

.Wedding__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;

  width: 600px;
  margin: 2rem 0;

  background: rgba(255, 255, 255, 0.9);
}

.Wedding__section {
  width: 300px;
  margin: 40px 20px;
  overflow: hidden;
  align-self: center;

}

.Wedding__section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


p {
  font-size: 24px;
}
