.Travel {
  color: white;
  background: #282c34;
  width: 100%;
  height: 2200px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}
.Travel__mobile {
    height: 300px;
}

.Travel__modal {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.Travel__title {
  height: 200px;
}

.Tourist__castle h3{
  color: white;
}

.Travel a {
  color: white;
  text-decoration: underline;

  padding: 20px 0 20px 40px;

  background: url(./pdf.svg) no-repeat left center;
  line-height: 30px;
  background-size: 30px;
}
