.App {
  text-align: center;
  margin-bottom: 40px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App__header {
  background: #282c34 url('./WeddingInvitePaint.png') no-repeat center -140px;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App__nav {
  width: calc(100% - 120px);
  padding: 20px;
}

.App__nav--collapsed {
  height: 0px;
  transition: height 0.25s;
}

.App__nav--sticky{
  position: fixed;
  color: #282c34;
  top: 0px;
  width: 100%;
  z-index: 10;
  background: white;
  box-shadow: 0 0px 12px 0 rgba(0,0,0,.70);
  height: 40px;
}

.App__nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0px;
}

.App__nav ul li{
  margin: 0 20px;
  list-style: none;
  cursor: pointer;
}
.App__nav ul li:hover{
  text-decoration: underline;
}

.App__flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background: url(./assets/images/invited.jpg) no-repeat center center;
  background-size: cover;
  padding: 1rem;
}

.rsvp,
.rsvp:focus{
  color: white;

}

.rsvp:hover {
  font-size: 1.2em;
}


@media screen and (max-width: 500px) and (min-width: 0px) {
  .App__nav {
    flex-wrap: wrap;
    font-size: 14px !important;

    padding: 10px 20px;
    width: 100%;
  }

  .App__nav ul {
    width: 100%;
  }

  .App__nav li{
    margin: 0 8px !important;
    width: auto;
  }

  .Accomodation__map {
    display: none;
  }

  .App__header h1{
    font-size: 20px;
    margin: 20px;
  }

  .Accomodation, .Wedding {
    height: calc(100vh + 200px) !important;
  }
}
