@font-face {
	font-family: "OldStandard";
	font-weight: normal;
	font-style: normal;
	src: url("./assets/fonts/OldStandard-Regular.ttf");
}

@font-face {
	font-family: "OldStandard";
	src: url("./assets/fonts/OldStandard-Bold.ttf");
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: "OldStandard";
	src: url("./assets/fonts/OldStandard-Italic.ttf")y;
	font-weight: 100;
	font-style: 100;
}

html,
body {
	min-width: 100%;
	margin: 0;
	padding: 0;
}
body {
	overflow-y: auto;
	overflow-x: hidden;
  font-family: "OldStandard", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 { font-size: 44px; margin: .67em 0; font-weight: 100;}
h2 { font-size: 1.8em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h4 { margin: 1.12em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }

h3 {
  font-size: 24px;
  font-weight: 100;
}
p {
  font-size: 16px;
}
